*{
    padding: 0;
    box-sizing: content-box;
}
 .btn-1{
    display: flex;
    margin-bottom: 30px;
 }
 .btn-3{
    margin-left: 60px;
 }
 .under{
    display: flex;
    align-items: center;
    margin-left: 20px;
 }
